{% if user.is_authenticated %}
<b> Hi {{ user.username }}! Welcome to your Dashboard</b>
{% endif %}
</br>
{% if review_status == "closed" %}
<b> Already reviewed candidate {{ candidate.name }} ,
    select other candidates </b>
{% endif %}

<br/>
<br/>

<form action="{% url 'perform_review' %}" method="post">
    {% csrf_token %}
    <label>Select Candidate:</label>
    <select name="candidate_id">
        {% for candidate in candidate_list %}
        <option value="{{candidate.id}}">{{candidate.name}} -
                                        {{candidate.url}}
        </option>
        {% endfor %}
    </select>
    <input type="submit" value="Start Review"/>
</form>
<a href="{% url 'view_my_reviews' %}">View My Reviews</a> |
<a href="{% url 'view_pending_reviews' %}">View Pending Reviews</a> |
<a href="{% url 'view_all_reviews' %}">View All Reviews</a> |
<a href="{% url 'logout' %}">Logout</a>