{% if user.is_authenticated %}
<b> Logged in user is {{ user.username }}! </b>
{% endif %}


<h1> Add Your Response </h1>
{% if response_saved %}
Your Response saved successfully
{% endif %}

<br/>
<br/>

<form action="{% url 'save_response' question.id%}" method="post">
    {% csrf_token %}
    <label>Question Text: </label> <b> {{ question.question_text }}</b>
    <br/>
    <label>Difficulty Level: </label> {{ question.difficulty_level }}
    <br/>
    <label>Solution: </label> <b>{{ question.solution }}</b>
    <br/>
    <label>Ratings:</label>
    <select name="ratings">
        <option value="1">Not Answered</option>
        <option value="2">Bad</option>
        <option value="3">Satisfactory</option>
        <option value="4">Good</option>
        <option value="5">Excellent</option>
    </select>
    <br/>
    <label>Give Comments:</label>
    <br/>
    <textarea name="comments" maxlength="500" rows="10" cols="50"></textarea>
    <br/>
    <input type="hidden" name="review_id" value="{{review_id}}"/>
    <input type="submit" value="Add Response"/>
</form>
<a href="{% url 'view_questions_list'%}?sub_topic={{sub_topic}}&review_id={{review_id}}">Back
    to Questions</a> |
<a href="{% url 'logout' %}">Logout</a>
