{% if user.is_authenticated %}
<b> Logged in user is {{ user.username }}! </b>
{% endif %}
<h2>Reviewing candidate : {{candidate.name}}</h2>
<h3>Questions List:</h3>

{% if response_saved %}
Your Response saved successfully for this question
{% endif %}
<br/>
<form action="{% url 'view_questions_list' %}" method="post">
    {% csrf_token %}
    <label>Difficulty Level:</label>
    <select name="difficulty_level">
        <option value="1">Basic</option>
        <option value="2">Intermediate</option>
        <option value="3">Advance</option>
        <option value="4">All</option>
    </select>

    <input type="hidden" value="{{sub_topic}}" name="sub_topic"/>
    <input type="submit" value="Select"/>
</form>


<table style="width:100%">
    <tr>
        <td><b>Id</b></td>
        <td><b>Question</b></td>
        <td><b>Question Created At</b></td>
        <td><b>Number of times Asked</b></td>
        <td><b>Number of times answered</b></td>
        <td><b>Responses</b></td>
    </tr>

    {% for q in question_list %}
    <tr>
        <td>{{q.id}}</td>
        <td>
            <a href="{% url 'question_response'  q.id %}?review_id={{review_id}}">{{q.question_text}}</a>
        </td>
        <td>{{q.created_at}}</td>
        <td>{{q.num_of_times_asked}}</td>
        <td>{{q.num_of_times_answered}}</td>
        <td>
            <a href="{% url 'view_question_responses'  q.id %}?sub_topic={{q.sub_topic.id}}&review_id={{review_id}}">Click
                to View</a>
        </td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'view_start_review' review_id %}">Back to Questions</a> |
<a href="{% url 'logout' %}">Logout</a>
