<h1>Questions for this Sub topics are:</h1>

{% if response_saved %}
Your Response saved successfully for the question
{% endif %}

<form action="{% url 'view_questions_list' %}" method="post">
{% csrf_token %}
    <label>Difficulty Level:</label>
    <select name="difficulty_level">
        <option value="1">Basic</option>
        <option value="2">Intermediate</option>
        <option value="3">Advance</option>
        <option value="4">All</option>
    </select>

    <input type="hidden" value="{{sub_topic}}" name="sub_topic" />
<input type="submit" value="Select" />
</form>


 <table style="width:100%">
  <tr>
        <th>Id</th>
        <th>Question</th>
        <th>Created At</th>
        <th>Number of times Asked</th>
        <th>Number of times answered</th>
  </tr>

{% for q in question_list %}
    <tr>
        <td>{{q.id}} </td>
        <td><a href="{% url 'question_response'  q.id %}">{{q.question_text}}</a> </td>
        <td>{{q.created_at}} </td>
        <td>{{q.num_of_times_asked}} </td>
        <td>{{q.num_of_times_answered}} </td>
    </tr>
{% endfor %}
 </table>

<a href="{% url 'view_dashboard' %}">Back to Dashboard</a>

