{% if user.is_authenticated %}
<b> Logged in user is {{ user.username }}! </b>
{% endif %}
<h4>Reviews List:</h4>
<table style="width:100%">
    <tr>
        <td><b>Review Id</b></td>
        <td><b>Candidate Name</b></td>
        <td><b>Performed at</b></td>
        {%if show_reviews == "all" %}
        <td><b>Reviewed by</b></td>
        {% endif %}
    </tr>

    {% for r in review_list %}
    <tr>
        <td>{{r.id}}</td>
        <td>
            <a href="{% url 'view_candidate_review'  r.id %}">
                {{r.candidate.name}}
            </a>
        </td>
        <td>performed date</td>

        {%if show_reviews == "all" %}
        <td>{{r.user.username}}</td>
        {% endif %}

    </tr>
    {% endfor %}
</table>

<a href="{% url 'view_dashboard' %}">Dashboard</a> |
<a href="{% url 'view_my_reviews' %}">View My Reviews</a> |
<a href="{% url 'view_all_reviews' %}">View All Reviews</a> |
<a href="{% url 'logout' %}">Logout</a>
