{% load staticfiles %}

<html>
    <head>
        <title>Interview App</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
        <!-- Custom styles for this template -->
        <link href="{% static 'css/theme.css' %}" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}">
    </script>

    </head>

<body>

 <div class="page-header">
      <ul class="nav nav-pills" role="tablist">
          <li role="presentation" class="active"><a href="{% url 'view_dashboard' %}">Goto Dashboard</a></li>
        <li role="presentation"><a href="{% url 'view_my_reviews' %}">My Reviews</a></li>
        <li role="presentation"><a href="{% url 'view_all_reviews' %}">All Reviews</a></li>
        <li role="presentation"><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
 </div>


{% if user.is_authenticated %}
<b> Logged in user is {{ user.username }}! </b>
{% endif %}

<h2>Reviewing candidate : {{candidate.name}}</h2>
<form action="{% url 'view_start_review' review_id %}" method="post">
    {% csrf_token %}
    <label>Select topic:</label>
    <select name="topic">
        {% for topic in topics_list %}
        <option value="{{topic.id}}">{{topic.topic_text}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Select Subtopic" class="btn btn-xs btn-primary"/>
</form>

{% if sub_topic == True %}
<form action="{% url 'view_questions_list' %}?review_id={{review_id}}" method="post">
    {% csrf_token %}
    <label>Select subtopic:</label>
    <select name="sub_topic">
        {% for stopic in sub_topics_list %}
        <option value="{{stopic.id}}">{{stopic.subtopic_text}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="View Questions" class="btn btn-xs btn-primary"/>
</form>
{%endif%}

<a href="{% url 'freeze_review' %}?review_id={{review_id}}">
    <button type="button" class="btn btn-xs btn-danger">Freeze Interview</button>
</a>

</body>
</html>
