
{% if user.is_authenticated %}
<b> Logged in user is {{ user.username }}! </b>
{% endif %}

<h1>Responses :</h1>
<br/>

<table style="width:100%">
    <tr>
        <td><b>Id</b></td>
        <td><b>Question</b></td>
        <td><b>Ratings</b></td>
        <td><b>Response at</b></td>
        <td><b>Response by</b></td>
    </tr>

    {% for q in question_response_list %}
    <tr>
        <td>{{ q.id }}</td>
        <td>{{ q.question.question_text }}</td>
        {% load index %}
        <td>{{ ratings|index:q.answer_ratings }}</td>
        <td>{{q.response_at}}</td>
        <td>{{q.response_given_by}}</td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'view_questions_list'%}?sub_topic={{sub_topic}}&review_id={{review_id}}">Back to Questions</a> |
<a href="{% url 'logout' %}">Logout</a>
