{% load staticfiles %}

<html>
    <head>
        <title>Interview App</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
        <!-- Custom styles for this template -->
        <link href="{% static 'css/theme.css' %}" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

    </head>

<body>

 <div class="page-header">
      <ul class="nav nav-pills" role="tablist">
          <li role="presentation" class="active"><a href="{% url 'view_dashboard' %}">Goto Dashboard</a></li>
        <li role="presentation"><a href="{% url 'view_my_reviews' %}">My Reviews</a></li>
        <li role="presentation"><a href="{% url 'view_all_reviews' %}">All Reviews</a></li>
        <li role="presentation"><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
 </div>


{% if user.is_authenticated %}
<b> Logged in user is {{ user.username }}! </b>
<br/>

{% endif %}

    <label>Question Text: </label> <b> {{ question.question_text }}</b>
    <br/>
    <label>Difficulty Level: </label> {{ question.difficulty_level }}
    <br/>
    <label>Solution: </label> <b>{{ question.solution }}</b>
    <br/>
    <label>Ratings:</label>
    {% load index %}
    {{ ratings|index:response.answer_ratings }}
    <br/>
    <label>Comments:</label>
    {{ response.comments }}
    <br/>

<a href="{% url 'view_questions_list'%}?sub_topic={{sub_topic}}&review_id={{review_id}}">
    <button type="button" class="btn btn-xs btn-primary">
    Back to Questions</button>
</a>

</body>
</html>